body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar-brand img.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.main-section {
    padding: 50px 0;
}

.img-hover {
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.img-hover:hover {
    transform: scale(1.1);
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.card {
    background-color: #222;
    color: #fff;
    border: none;
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.card img {
    object-fit: cover;
    height: 200px;
}

.card:hover {
    transform: scale(1.05);
}

.card .btn {
    background-color: #ff0000;
    border: none;
}

.card .btn:hover {
    background-color: #cc0000;
}

.footer {
    background-color: #000;
    color: #fff;
}

.footer a {
    color: #ff0000;
    text-decoration: none;
}

.footer a:hover {
    color: #cc0000;
}


#Profile{
    width: 260px;
    margin-left:120px ;
}

a{
    color: red;
}

a:hover{
    color: white;
    text-decoration: none;
}